.resetpassword{
    font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
}
.detailspro{
    font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
/* identical to box height */


/* Grey/500 */

color: #94A0B4;
}
.Update{
    font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
}

/* Successfully page */
.Successfully{
    font-family: 'Cera Pro';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 28px;
/* identical to box height */


/* grey 50 */

color: #94A0B4;
}